.product-card {
  position: relative;
  border-style: solid;
  border-width: 0 4px 4px 0;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}
.product-card-wrap.disabled .product-card {
  border-color: #B3B3B3 !important;
  pointer-events: none;
}
.top-border,
.left-border {
  position: absolute;
  width: 100%;
  left: 0px;
}
.top-border {
  height: 10%;
  top: 0px;
  left: -2px;
  border-style: solid;
  border-color: inherit;
  border-width: 4px 0px 0px 6px;
  transform: skew(-45deg);
  transform-origin: right bottom;
}
.left-border {
  height: calc(90% - 4px);
  bottom: 0px;
  border-style: solid;
  border-color: inherit;
  border-width: 0px 0px 0px 4px;
}
.top-right-corner,
.bottom-left-corner {
  width: 80%;
  height: 80%;
  border-radius: 0 15px;
  border-style: solid;
  border-color: inherit;
  position: absolute;
  z-index: 5;
  pointer-events: none;
}
.top-right-corner {
  border-width: 4px 4px 0 0;
  top: 0;
  right: -4px;
}
.bottom-left-corner {
  border-width: 0 0 4px 4px;
  bottom: -4px;
  left: 0;
}
.product-card-body {
  position: relative;
  top: 2px;
  left: 2px;
  min-width: 150px;
  min-height: 100px;
  height: 100%;
  transition: .2s;
}
.product-card-wrap.disabled .product-card-body,
.product-card-wrap.selected .product-card-body {
  opacity: .3;
}
.product-card-badge {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 80px;
  height: 80px;
  color: #fff;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 21px;
}
.product-card-wrap.disabled .product-card-badge {
  background: #B3B3B3 !important;
}
.product-card-badge-accent {
  font-size: 40px;
}
.product-card-badge span {
  line-height: .8;
}
.product-card-desc {
  color: #fff;
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  transition: .2s;
}
.product-card:hover + .product-card-desc {
  color: inherit;
}
.product-card-wrap.selected .product-card-desc {
  color: inherit;
}
.product-card-desc-clickable {
  cursor: pointer;
  border-bottom: 1px dashed;
  display: inline-block;
  transition: .4s;
}
.product-card-desc-clickable:hover {
  transform: translateY(3px);
}